.container-2{
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.container-2 div:last-child{
    color: rgb(88, 80, 80);
}
.news-detail{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid  #e01111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar{
    
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.fr-news-24h{
    height: 116px;
    background-color:#ffffff;
    display: flex;
    margin: 78px 0px 24px 0px;
    border:  1px solid rgba(var(--b6a,219,219,219),1);
}
.container-2{
    padding: 15px;
}